
:root{
  height: 100%;
  width: 100%;
}
*{
  color: white;
  font-family: 'Source Code Pro', monospace;
}

body{
  margin: 0px;
  height: 100%;
}
.content{
  height: 100%;
  width: 100%;
  display: flex;
}
.left{
  background-image: url(evgeni-tcherkasski-pgXY8q_J15s-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 40vw;
  height: 100%;
  display: flex;
  align-items: center;
}
.logoOverlay{
  width: 40vw;
  display: flex;
  margin-bottom: 48vh;
  display: flex;
  justify-content: center;
  background:rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.logoCenter{
  display: flex;
}
.alien{
  color: white;
  display: flex;
  align-items: center;
  font-size: 3rem;
}
img{
  margin-right: 12px;
}
.right{
  background-color: #142730;
  width: 60vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topMessage{
  padding: 20px;
}
.callToAction{
  margin-top: 2rem;
}
form{
  font-size: 1rem;
  margin: 15px;
}
.line1, .line2, .line3{
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
.firstName, .lastName, .email, .telefon, .password1, .password2{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 1rem;
} 
input{
  width: 15rem;
  color: black;
  font-size: 1.2em;
  font-family: 'Source Code Pro', monospace;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
input:focus{
  border: 1px solid rgb(156, 189, 248);
}
input:focus:invalid{
  border: 1px solid rgb(252, 165, 165);
  background-color: rgb(252, 165, 165);
}

.submission{
  padding: 20px;
}
button{
  color: black;
  background-color: #9ad6ae;
  border: 1px solid #9ad6ae;
  border-radius: 6px;
  color: #3c4043;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;
  padding: 17px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
  transition: 1s;
}
button:hover{
  scale: 1.1;
  transition: 1s;
}
p{
  margin: 5px;
  margin-left: 0px;
}
.already, a{
  font-size: 0.8rem;
  text-decoration: none;
  
}
a{
  color: #9ad6ae;
  font-weight: bold;
}
label#pwlabel1, label#pwlabel2{
  display: flex;
  justify-content: space-between;
}

.required::after{
  content: "Passwords dont match";
  color: red;

}

.error {
  width: 100%;
  max-width: 15rem;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}




@media screen and (max-width: 600px){
  .content{
    flex-direction: column;
  }
  .left{
    width: 100%;
    height: 15vh;
    justify-content: center;
  }
  .logoOverlay{
    margin-bottom: 0px ;
    background-position: center;
    background: transparent;
  }
  .logoCenter{
    height: 10vh;
  }
  .right{
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
  }
  .topMessage{
    padding: 5px;
    text-align: center;
  }
  .callToAction{
    margin-top: 1rem;
  }
  .inputfield{
    display: flex;
    justify-content: center;
  }
  .line1, .line2, .line3{
    flex-direction: column;
  }
  .submission{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .required::after{
    font-size: 0.6rem;
    width: 65px;
  }
}