
*{
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2vw;
}
@media screen and (max-width: 600px) {
 *{
  font-size: 10px;
 }
}
body{
  margin: 0px;
}
.content{
  height: 100vh;
  width: 100vw;
  display: flex;
}
.left{
  background-image: url(evgeni-tcherkasski-pgXY8q_J15s-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 40vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.logoOverlay{
  width: 40vw;
  display: flex;
  margin-bottom: 327px;
  display: flex;
  justify-content: center;
  background:rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.logoCenter{
  display: flex;
}
.alien{
  color: white;
  display: flex;
  align-items: center;
  font-size: 2em;
}
img{
  margin-right: 12px;
}
.right{
  background-color: #142730;
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topMessage{
  padding: 20px;
}
.callToAction{
  margin-top: 2.1vh;
}
form{
  font-size: 10px;
  margin: 15px;
}
.line1, .line2, .line3{
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
.firstname, .lastname, .email, .tel, .password1, .password2{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 0.7vw;
} 
input{
  width: 16vw;
  color: black;
  font-size: 10px;
  font-family: 'Source Code Pro', monospace;
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;
}
input:focus{
  border: 1px solid rgb(156, 189, 248);
}
input:focus:invalid{
  border: 1px solid rgb(252, 165, 165);
  background-color: rgb(252, 165, 165);
}

.submission{
  padding: 20px;
}
button{
  color: black;
  background-color: #9ad6ae;
  border: 1px solid #9ad6ae;
  border-radius: 15px;
  color: #3c4043;
  font-family: 'Source Code Pro', monospace;
  font-size: 9px;
  padding: 7px;

  min-width: 54px;
  cursor: pointer;
  user-select: none;
  transition: 1s;
}
button:hover{
  scale: 1.1;
  transition: 1s;
}
p{
  margin: 5px;
  margin-left: 0px;
}
.already, a{
  font-size: 0.8vw;
  text-decoration: none;
  
}
a{
  color: #9ad6ae;
  font-weight: bold;
}
label#pwlabel1, label#pwlabel2{
  display: flex;
  justify-content: space-between;
}
.required{
  /*just to attach the pseudo element ::after*/
}
.required::after{
  content: "Passwords dont match";
  color: red;
}